// Colors


$primary-color: #009de0;
$secondary-color: #33b1e6;
$border-color: #5cc0eb;
$hover-color: #1fa9e4;
$light-background: #c2e7f8;
$danger-color: #dc3545;


// Typography
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

$base-font: "Roboto", sans-serif;
$base-spacing: 16px;
$base-font-size: 16px;
$base-line-height: 24px;