// Colors
$primary-color: #007bff;
$secondary-color: #6c757d;
$light-gray: #f8f9fa;
$danger-color: #dc3545;
$success-color: #28a745;

// Typography
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

$base-font: "Roboto", sans-serif;
$base-spacing: 16px;
$base-font-size: 16px;
$base-line-height: 24px;