@import '../styles/variables';

.mt-4 {
    margin-top: -2.5rem !important;
}

.input-form {
    max-width: 600px;
    margin: 32px auto;
    font-family: $base-font;

    &__logo {
        display: block;
        margin: 0 auto 6px;
        max-width: 200px;
        height: auto;

        &:hover {
            transform: scale(1.1);

        }
    }

    &__heading {
        margin-bottom: 16px;
        font-size: 20px;
        font-weight: 700;
        text-align: center;
        padding: 8px;
    }

    &__error,
    &__warning {
        margin-bottom: 16px;
        border-radius: 1.5rem;
    }

    &__form {
        background-color: #fff;
        padding: 16px;
        border: 1px solid $border-color;
        border-radius: 1.5rem;

        .form-label {
            font-weight: 600;
        }

        .mb-3 {
            margin-bottom: 16px !important;
        }
    }

    &__buttons {
        display: flex;
        flex-direction: column;
        gap: 16px;
        margin-top: 16px;
        border-radius: 1.5rem;

        .input-form__button {
            width: 100%;
            text-align: center;
            border-radius: 1.5rem;
            background-color: $secondary-color;


            &:hover {
                background-color: adjust-color($secondary-color, $lightness: -10%); // Darken the color by 10%
                transition: background-color 0.3s ease, color 0.3s ease; // Smooth transition
            }

        }
    }

    &__price-breakdown {
        margin-top: 24px;
        padding: 16px;
        border: 1px solid $border-color;
        border-radius: 1.5rem;

        ul {
            list-style: none;
            padding-left: 0;
            margin: 0;

            li {
                margin-bottom: 8px;
                font-size: 14px;
                display: flex;
                justify-content: space-between;
                /* Aligns text on opposite sides */
                align-items: center;
                /* Ensures vertical alignment */
            }

            span {
                font-weight: 600;
                text-align: right;
                /* Aligns the value and units to the right */
                white-space: nowrap;
                /* Prevents line breaks */
                /* Optional for styling the data */
            }
        }
    }
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}